# Midterm Project
[Project Guidelines: Summer Academy NPS Data](https://docs.google.com/document/d/11v_d1bkFbTM4N3WU6JAbdR_9_eUChrN32-mdQ9zKaOw/preview)

### Important Links
- [Exploratory Data Analysis in Pandas](https://www.kaggle.com/kashnitsky/topic-1-exploratory-data-analysis-with-pandas)

In [82]:
import pandas as pd
import numpy as np

FILEPATH = "survey_midterm_datasets/2017/Student Feedback Surveys-Superview.csv"
df = pd.read_csv(FILEPATH)
df.head()

    ID       Location           Track    Week Rating (Num)    Schedule Pacing
0  134  San Francisco  Apps, Explorer  Week 1            3         Just right
1   36    Los Angeles            Apps  Week 1            4  A little too fast
2  117  San Francisco           Games  Week 1            4       Way too slow
3  253            NaN             NaN  Week 2            4  A little too fast
4  350  New York City  Apps, Explorer  Week 1            4         Just right

## Description of Problem
Clean and investigate Make School NPS data to find interesting and actionable trends that help inform decision-makers. Create a presentation in a Jupyter Notebook using data visualizations and other techniques that allow non-technical team members to understand your findings. 

### 1. Analyze Dataset

In [143]:
def analyze_dataset(df):
    print("\n------------------------------\nINFO\n------------------------------")
    df.info() #info of datasets: (range), column's (count, names, non-null counts, data types), memory usage
    print("\n------------------------------\nCOLUMN'S UNIQUE VALUES COUNT\n------------------------------")
    print(df.nunique()) #check how many unique values each columns has
    # df["Rating (Num)"].value_counts() #check what those unique values in the columns are and their counts
#     print(df.apply(lambda column_name: column_name.value_counts()).T.stack())
    for column_name in df.columns:
        print("\n", column_name, " column")
        print(df.T.stack()[column_name].value_counts())
analyze_dataset(df)

------------------------------
INFO
------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1453 entries, 0 to 1452
Data columns (total 6 columns):
ID                 1453 non-null int64
Location           1406 non-null object
Track              1406 non-null object
Week               1453 non-null object
Rating (Num)       1450 non-null float64
Schedule Pacing    1450 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 68.2+ KB

------------------------------
COLUMN'S UNIQUE VALUES COUNT
------------------------------
ID                 1453
Location             12
Track                 5
Week                  8
Rating (Num)         11
Schedule Pacing       5
dtype: int64

Column:  ID
1499    1
503     1
505     1
506     1
507     1
       ..
1012    1
1013    1
1014    1
1015    1
8       1
Length: 1453, dtype: int64

Column:  Location
San Francisco    360
New York City    330
Santa Clara      201
Los Angeles      106
Beijing           78
Chicago           70
Tokyo             65
Redwood City      58
Oakland           47
Washington DC     47
Atlanta           33
Hong Kong         11
dtype: int64

Column:  Track
Apps               871
Apps, Explorer     224
Games              208
VR                  60
Games, Explorer     43
dtype: int64

Column:  Week
Week 1    288
Week 2    277
Week 3    243
Week 4    193
Week 5    179
Week 6    144
Week 7    120
Week 8      9
dtype: int64

Column:  Rating (Num)
8.0     392
9.0     384
10.0    376
7.0     177
6.0      59
5.0      35
4.0      13
3.0       8
2.0       2
1.0       2
0.0       2
dtype: int64

Column:  Schedule Pacing
Just right           1034
A little too fast     289
A little too slow     100
Way too fast           23
Way too slow            4
dtype: int64

### 2. Clean Dataset

In [145]:
# df = pd.read_csv("train.csv", usecols= ["PassengerId", "Survived", "Pclass"])  #only use columns we want
# df = pd.read_csv(FILEPATH, skiprows = 1, na_values = ['no info', '.']) #skip rows
df = pd.read_csv(FILEPATH, na_values = ['#ERROR!']) #put array of values that will be converted to NaN
analyze_dataset(df)

------------------------------
INFO
------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1453 entries, 0 to 1452
Data columns (total 6 columns):
ID                 1453 non-null int64
Location           1406 non-null object
Track              1406 non-null object
Week               1453 non-null object
Rating (Num)       1450 non-null float64
Schedule Pacing    1450 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 68.2+ KB

------------------------------
COLUMN'S UNIQUE VALUES COUNT
------------------------------
ID                 1453
Location             12
Track                 5
Week                  8
Rating (Num)         11
Schedule Pacing       5
dtype: int64

Column:  ID
1499    1
503     1
505     1
506     1
507     1
       ..
1012    1
1013    1
1014    1
1015    1
8       1
Length: 1453, dtype: int64

Column:  Location
San Francisco    360
New York City    330
Santa Clara      201
Los Angeles      106
Beijing           78
Chicago           70
Tokyo             65
Redwood City      58
Oakland           47
Washington DC     47
Atlanta           33
Hong Kong         11
dtype: int64

Column:  Track
Apps               871
Apps, Explorer     224
Games              208
VR                  60
Games, Explorer     43
dtype: int64

Column:  Week
Week 1    288
Week 2    277
Week 3    243
Week 4    193
Week 5    179
Week 6    144
Week 7    120
Week 8      9
dtype: int64

Column:  Rating (Num)
8.0     392
9.0     384
10.0    376
7.0     177
6.0      59
5.0      35
4.0      13
3.0       8
2.0       2
1.0       2
0.0       2
dtype: int64

Column:  Schedule Pacing
Just right           1034
A little too fast     289
A little too slow     100
Way too fast           23
Way too slow            4
dtype: int64

## Background on NPS
Every summer, Make School welcomes hundreds of students into the Summer Academy to study software development and build cool stuff. The management wants to make sure that students continue to be satisfied with their experience as the program scales. The main way we measure this is through **Net Promoter Score (NPS), which is a tool commonly used to measure customer loyalty and promotion**. You’ve seen NPS before if you’ve been asked a question like:
“On a scale of 1 to 10, how likely are you to recommend [X] to a friend or colleague?”

NPS segments all responses between 1 and 10 into three categories based on their sentiment:
- Promoter (9 – 10)
- Passive (7 – 8)
- Detractor (1 – 6)

### To calculate NPS, companies follow these steps:
1. Segment all responses into Promoter, Passive, and Detractor categories.
2. Calculate the percentage of responses in each category out of the total number of responses to the survey.
3. Subtract the Detractors percentage from the Promoters percentage. This is the NPS.

```NPS = (Promoters - Detractors)  (Promoters + Passives + Detractors)```

In [114]:
# Promoters = 9-10
promoters = 0
df["Week"].value_counts()

Week 1    288
Week 2    277
Week 3    243
Week 4    193
Week 5    179
Week 6    144
Week 7    120
Week 8      9
Name: Week, dtype: int64

In [ ]:
# Passive = 7-8

In [ ]:
# Detractor = 1-6

In [ ]:
# NPS = (Promoters - Detractors)  (Promoters + Passives + Detractors)

### Questions to Consider Answering
In this scenario, you’ve just been given access to this data from your boss, with the instructions to “See if you can find anything in here that can help the business.” – This is a very broad set of instructions.  In order to complete this task well, you may want to consider finding answers to the following questions:

- How many more promoters are there than detractors across our 2017 data?
- Which track boasts the best promoter-to-detractor ratio?
- Does the student experience get better the longer that they are enrolled at the Summer Academy?
- Does student satisfaction vary by location?
- What are things we could find here that could “help the business”?
- What sorts of information does this dataset contain?
- What kinds of questions might we be able to answer with this data?
- What kinds of questions can’t we answer with this data?
- What sorts of information might be actionable?
- How can you present your findings in a way that non-technical employees can understand and use to make decisions?

### Data Wrangling Issues to Consider
- CSV files may have header rows
- Collating data from multiple sources
- Introducing new columns/attributes
- Converting data types (string values to integers)
- Converting categorical values (either to integers or one-hot encoding)
- Normalizing values based on different units

In [19]:
df.nunique()

ID                 1453
Location             12
Track                 5
Week                  8
Rating (Num)         12
Schedule Pacing       5
dtype: int64

In [40]:
df["Location"].value_counts()

San Francisco    360
New York City    330
Santa Clara      201
Los Angeles      106
Beijing           78
Chicago           70
Tokyo             65
Redwood City      58
Oakland           47
Washington DC     47
Atlanta           33
Hong Kong         11
Name: Location, dtype: int64