# AppStore Dataset
Tutorial: https://www.makeschool.com/academy/track/app-store-dataset-tutorial

In [14]:
# Pandas is a library for basic data analysis
import pandas as pd

# NumPy is a library for advanced mathematical computation
import numpy as np

# MatPlotLib is a library for basic data visualization
import matplotlib.pyplot as plt

# SeaBorn is a library for advanced data visualization
import seaborn as sns

In [15]:
sns.set(style="white", context="notebook", palette="deep")
COLOR_COLUMNS = ["#66C2FF", "#5CD6D6", "#00CC99", "#85E085", "#FFD966", "#FFB366", "#FFB3B3", "#DAB3FF", "#C2C2D6"]
sns.set_palette(palette=COLOR_COLUMNS, n_colors=4)

In [16]:
ls #bash command to list all files in the current directory

AppStore Dataset.ipynb    README.md                 titanic.csv
Day 1 notebook.ipynb      array_manipulation.ipynb

In [20]:
cd ../datasets/ #checks and see if our csv file is there

/Users/macbookpro15/Desktop/MakeSchool/Term4/DS1.1/datasets

In [29]:
cd MakeSchool/Term4/DS1.1/classwork/

/Users/macbookpro15/Desktop/MakeSchool/Term4/DS1.1/classwork

In [34]:
FILEPATH = "../datasets/AppleStore.csv"
df = pd.read_csv(FILEPATH, index_col="Unnamed: 0")
df

,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
1,281656475,PAC-MAN Premium,100788224,USD,3.99,21292,26,4.0,4.5,6.3.5,4+,Games,38,5,10,1
2,281796108,Evernote - stay organized,158578688,USD,0.00,161065,26,4.0,3.5,8.2.2,4+,Productivity,37,5,23,1
3,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,USD,0.00,188583,2822,3.5,4.5,5.0.0,4+,Weather,37,5,3,1
4,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,USD,0.00,262241,649,4.0,4.5,5.10.0,12+,Shopping,37,5,9,1
5,282935706,Bible,92774400,USD,0.00,985920,5320,4.5,5.0,7.5.1,4+,Reference,37,5,45,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11081,1187617475,Kubik,126644224,USD,0.00,142,75,4.5,4.5,1.3,4+,Games,38,5,1,1
11082,1187682390,VR Roller-Coaster,120760320,USD,0.00,30,30,4.5,4.5,0.9,4+,Games,38,0,1,1
11087,1187779532,Bret Michaels Emojis + Lyric Keyboard,111322112,USD,1.99,15,0,4.5,0.0,1.0.2,9+,Utilities,37,1,1,1
11089,1187838770,VR Roller Coaster World - Virtual Reality,97235968,USD,0.00,85,32,4.5,4.5,1.0.15,12+,Games,38,0,2,1
11097,1188375727,Escape the Sweet Shop Series,90898432,USD,0.00,3,3,5.0,5.0,1.0,4+,Games,40,0,2,1

## Some good questions to keep in mind:
- Any convoluted data?
- Any repeated data?
- Any redundant data?
- Any data that's difficult to understand?
---
- Remove **unclean data**
    - irregularities in data types
    - inconsistencies in how data was recorded
    - inappropriate data values (e.g. ```null``` values)

## .iloc[] and .loc[]
- ```.iloc[]``` and ```.loc[]``` are selector tools in Pandas to view a single or multiple rows, columns, and/or cells in a datasets
- `.iloc[]` is useful for selecting data by **index**
- `.loc[]` is useful for selecting data by **label**

In [50]:
# df.iloc[0] #get first index = PACMAN

In [51]:
# df.loc[1] #get first label = PACMAN

In [45]:
# df.iloc[:3] # get top 3

In [47]:
# df.loc[:3] # get top 3

In [44]:
# df.head() #peeks top 5
# df.tail() #peeks bottom 5

In [55]:
# df.price.mean() #does the same as line below
df["price"].mean()

1.726217868556343

In [63]:
# df.describe() # show general column-formatted information on the dataset

In [62]:
df.describe(include="O")

                 track_name currency   ver cont_rating prime_genre
count                  7197     7197  7197        7197        7197
unique                 7195        1  1590           4          23
top     Mannequin Challenge      USD   1.0          4+       Games
freq                      2     7197   317        4433        3862

In [67]:
df.drop("currency", axis=1)

KeyError: "['currency'] not found in axis"